@media only screen and (min-width: 64rem) {
    #largeView {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
    }
    #banner {
        display: grid;
    }
    
    #banner h1 {
        font-size: 2rem;
    }
    
    nav ul {
        display: block;
    }

    nav ul li a {
        border: none;
    }

    #hamburgerBtn {
        display: none;
    }

    #primaryNav {
        display: flex;
        margin-top: 5vw;
        font-size: 2rem;
    }

    
    header {
        grid-column: 1 / 4;
    }

    nav {
        grid-column: 4 / 9;
    }

    main {
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }


    #callAction {
        grid-column: 2 / 5;
        grid-row: 1 / 3;
        height: auto;
        background-image: url("/wdd230/lesson04/chamber/images/flowers-02.webp");
    }

    #newsRelease {
        grid-column: 2 / 5;
        grid-row: 3 / 4;
    }

    #newsRelease p {
        margin: 15% 0;
    }

    #spotlight01 {
        grid-column: -2 / -1;
        grid-row: 1 / 3;
        height: auto;
    }

    #spotlight01 picture img {
        width: 80%;
    }

    #spotlight01 span {
        display: block;
    }

    #spotlight02 {
        grid-column: -2 / -1;
        grid-row: 3 / 4;
    }

    #spotlight02 span p {
        margin: 20% 20px;
    }

    #join-us {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }

    #join-us span p {
        margin: 50px 0;
    }

    #event {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    #event p {
        margin: 20% 0;
    }

    #event picture img {
        width: 80%;
    }

    #weather {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #visits {
        grid-column: 3 / -3;
    }
}