@media only screen and (min-width: 35rem) {
    #banner {
        display: grid;
        grid-template-columns: repeat(6, auto);
        grid-template-rows: auto;
    }

    #banner img {
        margin: 0;
        width: auto;
        margin-left: 5vw;
    }

    #banner h1 {
        text-align: center;
        margin-top: 5vw;
    }
    
    #hamburgerBtn {
        grid-column: end;
    }
}