@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@800&family=Roboto:wght@300&display=swap');

body {
    max-width: 1fr;
    margin: 0;
    background-color: #FEFAE0;
}

h1, h2 {
    font-family: 'Abhaya Libre', serif;
}

p {
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 10px;
    text-align: center;
}
/* banner */

#banner img {
    max-width: 10rem;
    margin-right: 5vw;
}
#banner {
    display: flex;
}
#date {
    text-align: center;
    font-size: 1.5em;
    padding: 2vw;
    
}
/* banner */

/*Start of Hamburger navigation designed */
header button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
    
}

header, nav {
    background-color: #709775;
}

nav {
    text-align: end;
}


nav ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}
/* End of Hamburger navigation designed */

/* main */



main div {
    background-color: #DDA15E;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: auto;
    height: 400px;
    
}
#spotlight {
    display: none;
}

#callAction  {
    text-align: left;
    background-image: url("/wdd230/lesson04/chamber/images/flowers-02.webp");
    background-size: cover;
    background-position: center;
} 

#callAction h2 {
    margin-left: 2rem;
    margin-top: 2rem;
}
#callAction button {
    margin-left: 10rem;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: larger;
}

#callAction button:hover {
    background-color: rgb(141, 138, 138);
    color: white;
}

#weather {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    place-items: center;
    color: #fff;
    font-size: 20px;
    background-image: url("/wdd230/lesson04/chamber/images/green-01.jpg");
    background-size: cover;
}

#weather :nth-child(1) {
    font-size: 40px;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    margin-bottom: 5px;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.6);
}

#weather :nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#weather :nth-child(3) {
font-size: 30px;
text-shadow: 2px 4px rgba(0, 0, 0, 0.6);
}

#weather :nth-child(4) {
    font-size: 40px;
    grid-column: 1 / -1;
    margin: 5px 0px;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.6);

}

#weather :nth-child(5) {
    font-size: 20px;
    text-shadow: 2px 4px rgba(0, 0, 0, 0.6);
}

/* main */

/* footer */
footer {
    text-align: center;
    background-color: #709775;
    font-size: 1.5rem;
    padding-top: 1vw;
}
footer div span {
    display: flex;
    justify-content: center;
}

#footerLogo {
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}

footer div img {
    max-width: 30%;
}

/* footer */

/* discover.html */

#visits {
    text-align: center;
    padding: 5px;
    margin: 1%;
    background-color: #dda15e;
    border-radius: 10px 30px 10px 30px;
    font-size: 20px;
}

main #discover_images picture {
    width: 50%;
}

main #discover_images picture img {
 width: 100%;
}

#discover_images {
    height: auto;
    padding: 20px;
    
}

.discover_img[data-src] {
    filter: blur(1.2em);
}
  
.discover_img {
    filter: blur(0em);
    transition: filter 0.5s;
}

/* -----------------------------join.html----------------------------- */
.joinForm {
    height: auto;
    border-radius: 1rem;
    margin-bottom: 5%;
}
label.top, input {
    display: block;
    text-align: left;
    padding-top: 1rem;
    font-size: 1.2rem;
    
}

form fieldset {
    margin: 5%;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: .5rem 2%;
    
}

form legend {
    color: black;
    margin: 0 1rem;
    padding: 0 .5rem;
    font-size: 1.3rem;
}
form select {
    font-size: 1rem;
}

form input.submitBtn {
    border: none;
    background-color: #709775;
    border-radius: 1rem;
    text-align: center;
    padding: .75rem 1.5rem;
    margin: 0 auto 2rem auto;
    width: 95%;
    max-width: 20rem;;
}

form input.submitBtn:hover {
    background-color: #557459;
    border: darkgreen 1px solid;
    color: #fff;
}

.joinForm div {
    height: auto;
    margin: 5%;
    border: 1px solid #000000;
}

.joinForm div p {
    text-align: left;
    margin-left: 5%;
}

/* -----------------------------thankyou.html----------------------------- */

#joinSubmission {
    background-image: url(/wdd230/lesson04/chamber/images/discover_01.webp);
    background-position: 100%;
    background-size: cover;
    
}

#joinSubmission div {
    background-color: rgba(221, 161, 94, 0.6);
}

/* -----------------------------directory.html----------------------------- */

main#directory {
    display: block;
}

#directory div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

div.cards {
    height: auto;
}

div.cards section {
    border: 3px solid #415D43;
    border-radius: 2%;
    margin: 5px;
    background-color: #415D43;
}

div.cards section:hover {
    animation: shake 3s alternate infinite;

}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

div.cards img {
    margin: 5%;
    border-radius: 5%;
}


