body {
    text-align: center;
}

/* nav ul li {
    border: 1px solid ;
    
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: aqua;
}

nav ul li a {
    text-decoration: none;
}