@media only screen and (min-width: 1024px) {
    body {
        max-width: 80%;
        margin: auto;
    }

    #container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    #one {
        grid-column: 2 / -1;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
        font-size: 2.5em;
    }

    #two {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: center;
    }

    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    main h2 {
        font-size: 2em;
        font: bold;
    }
    /* design principle  */

    #grid {
     grid-template-columns: 1fr 1fr 1fr;   
    }

    #first, #second, #third {
        grid-column: auto;
    }
}