@media only screen and (min-width: 50rem) {
    header {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .navBar {
        grid-column: 2 / 4;
        grid-row: 1 / 2;
    }
    .navBar a {
        font-size: 1em;
    }

    .mainHeader{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .mainHeader h1 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .mainHeader figure {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .hamburguer {
        display: none;
    }

    .nav-menu {
        opacity: 100%;
    }

    .social {
        grid-column: 4 / -1;
        grid-row: 1 / 2;
        justify-content: space-around;
    }

    .mainContent {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);

    }

    .drinkCard {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        height: 90%;
    }

    .mixCard {
        grid-column: 3 / -1;
        grid-row: 1 / 3;
    }

    .turisticCard {
        grid-column: 1 / 3;
        grid-row: 2 / 5;
    }

    .weatherCard {
        grid-column: 3 / 5;
        grid-row: 3 / 5;
        width: auto;
        
    }

    .tCard p , .tCard span{
        display: none;
    }

    .tCard:hover p, .tCard:hover span {
        display: block;
    }

    footer {
        grid-template-columns: repeat(3, 1fr);
    }
    
    footer h2 {
        font-size: 25px;
    }

    .info h3 {
        font-size: 15px;
    }
    
    footer figure img {
        width: 50px;
        margin-right: 65px;
    }

    .weather-forecast {
        border-top: 5px dotted;
        margin:0 30px ;
        display: block;
        padding-top: 10px;
    }

    .weather-forecast h2 {
        border-bottom: 5px dotted;
        margin-top: -20px;
        margin-bottom: 20px;
    }

    .weather-forecast :nth-last-child(1){
        border-bottom: none;
        
    }

}