@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display:wght@500&display=swap');

body {
    max-width: 1300px;
    margin: auto;
    margin-top: 1%;
}

h1, h2 , h3 {
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    
    border: 1px solid black;
    border-radius: 10px;
    background-color: #FF5722;
}


.mainHeader {
    display: grid;
    grid-template-columns: 50% auto 2%;
    text-align: center;
}


.mainHeader figure {
 margin: auto;
}

.mainHeader figure img {
    width: 50px;
}

.social {
    display: grid;
    grid-template-columns: repeat(3, 40px);
    place-items: center;
}

.social figure {
    width: 100%;
}

.social figure img {
    width: 100%;
}