@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display:wght@500&display=swap');

body {
    max-width: 1300px;
    margin: auto;
    margin-top: 1%;
    background-image: url("/wdd230/lesson12/images/fruitbackground.png");
    background-size: contain;
    
}

h1, h2 , h3 {
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    border: 1px solid black;
    border-radius: 40px;
    background-color: #FF5722;
}

.mainHeader {
    display: grid;
    grid-template-columns: 50% auto 2%;
    text-align: center;
}


.mainHeader figure {
 margin: auto;
}

.mainHeader figure img {
    width: 50px;
}

.social {
    display: grid;
    grid-template-columns: repeat(3, 40px);
    place-items: center;
}

.social figure {
    width: 100%;
}

.social figure img {
    width: 100%;
}
/* nav */



.navBar ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.navBar ul a {
    display: block;
    text-decoration: none;
    background-color: #FF5722;
    font-family: 'Playfair Display', serif;
}

.navBar ul a:hover {
    background-color: #3F51B5;
    color: antiquewhite;
}

/* nav */

/* hamburguerbtn */
.hamburguer {
    display: inline-block;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

/* hamburguerbtn */
/* main */

.mainContent {
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 3px solid red;
    border-radius: 40px;
    background-color: #FF5722;
}
/* drinkCard */
.drinkCard {
    border: 1px solid red;
    border-radius: 40px;
    margin: 2%;
    background-image: url("/wdd230/lesson12/images/calltoactionbackground.png");
    background-size: cover;
}

.drinkCard h2 {
    padding: 10px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.726);
}

.drinkCard a.button {
    text-decoration: none;
    position: relative;
    top: 50px;
    background-color: #3F51B5;
    padding: 20px;
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 40px;
}

.drinkCard a.button:hover {
    background-color: #001cb8;
}
/* drinkcCard */

/* turisticCard */
.turisticCard {
    border: 1px solid red;
    border-radius: 40px;
    margin: 2%;
    background-color: #f2cc8f;
}

main picture {
    width: 100%;
}

main picture img {
    width: 80%;
}

.turisticCard .tCard p {
    padding: 3%;
}



/* turistiCard */

.weatherCard {
    background-color: #3F51B5;
    width: 400px;
    height: 300px;
    border: 1px solid red;
    border-radius: 40px;
    margin: 2%;
    font-size: 20px;
}

/* main */

/* fotter */
footer {
    display: grid;
    grid-template-columns: 150px 100px 150fr;
    background-color: #FF5722;
    border-radius: 40px;
    align-items: center;
    text-align: center;
    font-size: 10px;
}

footer figure {
    width: 100%;
}

footer figure img {
    width: 50px;
    margin-right: 20px;
}
/* fotter */